# dependencies
/node_modules
/.pnp
.pnp.*

# package manager
pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# next.js
/.next
/out

# build artifacts
coverage/
dist/
*.tsbuildinfo

# vercel
/.vercel

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# local scratch
out.log
ref.jpg
test-results/
playwright-report/

# system files
.DS_Store
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# local next.js type output
next-env.d.ts
